body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #6bb2fb;
    padding-top: 65px;
    padding-bottom: 100px;
}

.container_1 {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: aliceblue;
}

.offer {
    width: 500px;
}

.header_logo {
    padding-bottom: 25px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
    font-family: Verdana; 
}

.title_span {
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer_text {
    font-size: 15px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header_img {
    margin-top: 30px;
    width: 500px;
}

.btn {
    width: 220px;
    height: 32px;
    color: black;
    font-size: 16px;
    background-color: #ffd429;
    font-weight: bold;
    padding: 15px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    transition-duration: 3s;
}

.btn:hover {
    background-color: rgb(195, 115, 59);
    box-shadow: 10px 10px 10px rgb(164, 164, 194);
    color: #0c4c77;
}

.container_2 {
    width: 1100px;
    margin: auto;
    padding-top: 35px;
}


.main {
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content_in_block {
    color: black;
}

.blocks_title {
    color: black;  
}

.main_title {
    text-align: center;
    padding-bottom: 60px;
}


.img_in_blocks {
    margin-bottom: 30px;
    
}

.main_blocks {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container_3 {
    width: 1100px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.forms {
    background-color: #ecf3f8;
}

.forms_header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}

.forms_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms_2 {
    margin-bottom: 20px;
}

.forms_3 {
    width: 280px;
    height: 40px;
}

.btn_1 {
    width: 288px;
    height: 30px;
    color: black;
    font-size: 16px;
    background-color: #ffd429;
    font-weight: bold;
    padding: 15px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 3s;

    
}

.btn_1:hover {
    background-color: rgb(195, 115, 59);
    box-shadow: 10px 10px 10px rgb(164, 164, 194);
    color: azure;
    cursor: pointer;
}

.footer_1 {
    background-color: #227ecb;
    width: auto;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color: white;
}

.keyFrames_1 {
    width: 10px;
    height: 10px;
    background-color: white;
    margin-bottom: 5px;
    animation-name: keyframes_1;
    animation-duration: 1s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes keyframes_1 {
    0% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: white;
        left: 240px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 240px;
        top: 80px;
    }
    75% {
        background-color: white;
        left: 0px;
        top: 80px;
    }
    100% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
}

.keyFrames_2 {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: 5px;
    margin-right: 310px;
    animation-name: keyframes_2;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes keyframes_2 {
    0% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: black;
        left: 310px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 310px;
        top: 80px;
    }
    75% {
        background-color: black;
        left: 0px;
        top: 80px;
    }
    100% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
}