.main__blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  width: 100%; 
}

.title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

