* {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.card__wrapper {
    width: 320px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.card__image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card__title {
    margin: 10px 25px;
    font-size: 1.4rem;
    font-weight: 600;
}

.card__text {
    margin: 0 0 40px 25px;
    color: gray;
}

.card__pizza__diameter {
    margin-left: 25px;
    padding: 10px;
    border-radius: 5px;
}

.card__pizza__price {
    margin: 10px 25px;
    font-size: 1.6rem;
    font-weight: 500;
}

.card__input__wrapper {
    display: flex;
    margin: 0 25px;
    padding-bottom: 25px;
}

.card__input__decrement,
.card__input__increment {
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-color: gray;
    font-size: 1.3rem;
}

.card__input__decrement {
    border-radius: 5px 0 0 5px;
}

.card__input__increment {
    border-radius: 0 5px 5px 0;
}

.card__input__quantity {
    width: 30%;
    padding: 4px 0;
    text-align: center;
    font-weight: 600;
}

.card__order__button {
    background: url("./images/basket.png") no-repeat center center;
    background-size: auto 80%;
    padding: 5px 0 5px 60px;
    margin-left: 10px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
